{% extends "core/base.html" %}
{% block content %}
    <h2>Cadastro - Permissão</h2>
    <br>
    <p>
        <a class="btn btn-info" href="{% url 'create_permissao' %}" role="button">Criar Permissão</a>
    </p>
    <br>
    <h3>Permissão</h3>
    <br>
     <table class="table" id="book-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome Permissão</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          {% for permissao in object_list %}
            <tr>
              <td>{{ permissao.id }}</td>
              <td>{{ permissao.tipo_permissao }}</td>
              <td><a class="btn btn-warning btn-sm js-update-book" href="{% url 'edit_permissao' permissao.id %}" role="button">Edit</a>
              <td><a class="btn btn-danger btn-sm js-delete-book" href="{% url 'delete_permissao' permissao.id %}" role="button">Delete</a>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center bg-warning">No book</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock content %}