{% extends "core/base.html" %}
{% block content %}
    <h2>Cadastro - Clientes</h2>
    <br>
    <p>
        <a class="btn btn-info" href="{% url 'create_cliente' %}" role="button">Criar Cliente</a>
    </p>
    <br>
    <h3>Clientes</h3>
    <br>
     <table class="table" id="book-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome Cliente</th>
            <th>Centro de Custo</th>
            <th>Usuário Resp.</th>
            <th>Editar</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in object_list %}
            <tr>
              <td>{{ cliente.id }}</td>
              <td>{{ cliente.nome_cliente }}</td>
              <td>{{ cliente.centro_de_custo_cliente }}</td>
              <td>{{ cliente.user_cliente }}</td>
              <td><a class="btn btn-warning btn-sm js-update-book" href="{% url 'edit_cliente' cliente.id %} " role="button">Edit</a>
              <td><a class="btn btn-danger btn-sm js-delete-book" href="{% url 'delete_cliente' cliente.id %}" role="button">Delete</a>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center bg-warning">No book</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock content %}